name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Mount bazel cache
      uses: actions/cache@v4
      with:
        path: "~/.cache/bazel"
        key: bazel-${{ runner.os }}-${{ hashFiles('MODULE.bazel') }}
        restore-keys: |
          bazel-${{ runner.os }}-

    - name: Build
      run: bazel build //...

    - name: Test
      run: bazel test //...

    - name: Refresh Compile Commands
      run: bazel build //:refresh_compile_commands

    # Only for Linux builds
    - name: Check Clang Tidy
      if: ${{ runner.os == 'Linux' && !cancelled() }}
      run: bazel build //... --config=clang-tidy

    - name: Check Clang Format
      if: ${{ runner.os == 'Linux' && !cancelled() }}
      run: bazel build //... --config=clang-format
